extends layouts/default

append vars
	- var page = 'index'
	- var description = 'Sample project structure used in manGoweb'

block content
	canvas.snow#snow
	script.
		initComponents.push({
			name: 'snow',
			place: '#snow',
			data: {
				data: {"columns":[[[499,237],[539,237],[539,277],[499,277]],[[607,409],[647,409],[647,449],[607,449]],[[229,352],[269,352],[269,392],[229,392]],[[150,88],[190,88],[190,128],[150,128]],[[470,87],[510,87],[510,127],[470,127]]]}
			}
		})



