extends layouts/default

append vars
	- var page = 'index'
	- var description = 'Sample project structure used in manGoweb'

block content
	canvas.snow#snow
	script.
		initComponents.push({
			name: 'snow',
			place: '#snow',
			data: {
				data: {"options":{"Snow":{"rate":60,"height":10,"speed":20,"color":[255,255,255]}},"columns":[[[61,23],[92,23],[87,602],[58,595]],[[123,16],[151,21],[149,599],[117,597]],[[184,21],[218,25],[210,599],[182,599]],[[257,26],[292,25],[288,599],[251,597]],[[341,27],[383,27],[370,595],[332,596]],[[416,32],[455,33],[439,593],[406,595]]]}
			}
		})



