extends layouts/default

append vars
	- var page = 'index'
	- var description = 'Sample project structure used in manGoweb'

block content
	canvas.snow#snow
	script.
		initComponents.push({
			name: 'snow',
			place: '#snow',
			data: {
				data: {"columns":[[[358,156],[472,158],[482,222],[368,216]]]}
			}
		})



